/* Global Styles */

/* Full-Page */

body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;;
}

/* Navbar */

#navbar {
    width: 100%;
    height: 85px;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-logo {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo img {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.nav-links {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 0;
    list-style-type: none;
    font-size: 18px;
    padding-right: 3rem;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.25s;
}

.nav-links a:hover {
    color: #989898;
}

.nav-links:first-child {
    margin-left: 0 !important;
}

.nav-links .button {
    padding: 0.75rem 1rem;
    background-color: #3730a3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    width: fit-content;
    font-weight: 500;
    transition: 0.25s;
}

.nav-links .button:hover {
    background-color: rgb(49,46,129);
    color: #ffffff !important;
}

/* Footer */

footer {
    background-color: #111827;
    color: #ffffff;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
}

.footer-column h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column a {
    color: #a0aec0;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.copyright {
    margin-left: 40px;
    padding-bottom: 10px;
}

.copyright p {
    font-size: 0.9em;
}


/* Cookie Consent */

#cookieConsent {
   background-color: #ffffff;
   border: 1px solid #b7b7b7;
   width: 350px;
   height: 160px;
   border-top-right-radius: 10px;
   font-size: 16px;
   color: #000000;
   line-height: 26px;
   padding: 20px 30px 2rem 30px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: none;
   z-index: 9999;
   flex-direction: column;
   justify-content: space-between;
}

#cookieConsent a {
   color: #000000;
   text-decoration: underline;
}

#cookieConsent a.cookieConsentOK {
    background-color: #111827;
    color: #fff;
    border: none;
    height: 3.5rem;
    width: 12.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-property: background-color;
    text-decoration: none;
}